<h3>Here is your sample ad:</h3>

{{google-publisher-tag
  adId="/6355419/Travel/Europe/France/Paris"
  width=300
  height=250
  refresh=10
  refreshLimit=7
  tracing=1
  placement="top"
  shouldWatchViewport=true
  iframeJail=null
}}

<h3>Scroll down for another sample ad:</h3>

<div style="margin-top: 2000px;">
  {{google-publisher-tag
    tracing=1
    adId="/6355419/Travel/Europe/France/Paris"
    width=300
    height=250
    refresh=14
    placement="bottom"
    shouldWatchViewport=true
    iframeJail=null
  }}
</div>
